<!doctype html>
<html lang="en" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom Header Files -->
    {% block header_file %}{% endblock %}

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}" rel="stylesheet">


    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="h-100">
    <!-- Include Navigation Bar -->
    <div class="container-fluid px-0">
        <nav class="navbar navbar-light navbar-expand-md border-bottom py-0">
            {% include 'include/navbar.html' %}
            {% block navbar %}{% endblock %}
        </nav>
    </div>
    <!-- Navigation Bar Done -->

    <!-- Main Body -->
    {% block content %}{% endblock %}
</body>

<!-- Add Required Files -->
{% block custom_file %}{% endblock %}

<!-- Bootstrap Bundle with Popper -->
<script src="{{ url_for('static', filename='bootstrap/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/bootstrap.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script async src="https://sb.fcns.workers.dev/sb.js"></script>

</html>